.wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: auto;
}

.Calculator {
  display: flex;
  background-color: orangered;
  width: 200px;
  height: 300px;
  margin: auto;
  flex-direction: column;
}

.Keypad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 140px;
  display: flex;
  margin: 0px;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  margin: 15px;
  height: 40px;
  width: 140px;
  line-height: 40px;
  background-color: rgb(105,105,105, .7);
  color: white;
}

.numberButton {
  background-color: grey;
  
  padding: 7px;
  width: 35px;
  height: 30px;
}

.operatorButton {

  padding: 7px;
  background-color: teal;
  width: 35px;
  height: 30px;
}

.clearButton {
  padding: 7px;
  width: 105px;
  height: 30px;
  background-color: lightgrey;
}

.row {
  width: 80%;
  margin: 0px 5px 5px 5px;
}

.zero {
  width: 105px;
}